.dashboard {
  position: absolute;
  top: 23vh;
  left: 20px;
  width: 20vw;
  min-width: 250px;
  background-color: var(--container-transparente);
  backdrop-filter: blur(5px);
  padding: 20px;
  z-index: 1;
  border-radius: 20px;
}

.container-dashboard {
  display: inline-grid;
}

.container-dashboard input {
  color: var(--texto-input);
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
}

#statuslinks {
  margin: auto;
  background: var(--texto-botao);
}

#statusHistoricoLinks {
  margin: auto;
  background: var(--texto-botao);
  width: 100%;
}

.popup {
  display: none;
  position: fixed;
  width: 80%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--container-transparente);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--sombra);
  z-index: 1;
}

.popup-content {
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}